@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.cdnfonts.com/css/lulo-clean");
@import url("https://fonts.cdnfonts.com/css/palmtick");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
