* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration-line: none;
}
html {
  font-size: calc(60% + 0.8vmin);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

:root {
  --main-color: white;
  --text-color: rgb(44, 37, 37);
  --big-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 1rem;
}

*::selection {
  background: var (--main-color);
}

.logo {
  width: 4.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 75px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 10px 5px 5px #ffe4f1;
}

.mobile-header {
  display: none;
}

.nav_links {
  display: flex;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.98;
  }
}

.nav_links a {
  color: black;
  font-size: 1.25rem;
  padding: 10px 40px;
}

.nav_links a:hover {
  color: rgb(242, 150, 183);
  transition: all 0.3s ease;
}

#icon {
  font-size: 2rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
  display: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 10px px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.98;
  }
}
#traditional-work {
  background-color: black;
  padding-top: 4rem;
}
.work-category {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.desc {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
@media (max-width: 768px) {
  .work-category {
    display: flex;
    flex-direction: column;
    padding: 1rem 7rem;
  }
  .box {
    padding-bottom: 2rem;
  }
  .desc {
    font-size: 2rem;
  }
  .title .work {
    font-size: 4rem;
  }
  .gallery-container {
    width: 85%;
  }
}
@media (max-width: 480px) {
  .work-category {
    padding: 1rem 3rem;
  }
  .desc {
    padding-top: 0;
    font-size: 1rem;
  }
  .title .work {
    font-size: 2.5rem;
  }
}
.digital-category {
  background-image: linear-gradient(90deg, #ffa5bc, #7fb9ff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.title .work {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  color: rgb(255, 0, 115);
  text-shadow: 4px 4px #ffffff;
  text-align: center;
  padding: 1.5rem 2rem;
}
@media (min-width: 768px) {
  .title .work {
    font-size: 4.5rem;
  }
  .digital-category {
    font-size: 2.5rem;
  }
  .gallery-container {
    width: 75%;
  }
  .work-category {
    padding: 0 7rem;
  }
}
.gallery-container {
  margin: 1rem auto;
  padding-bottom: 2rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}
.grid {
  display: grid;
  grid-template-areas:
    "left left upper upper"
    "left left upper upper"
    "left left lower lower"
    "left left lower lower";
  gap: 0.5rem;
  padding-left: 10%;

  text-align: center;
}

.grid .left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid .upper_right {
  grid-area: upper;
}

.grid .lower_right {
  grid-area: lower;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .menu-icon {
    display: none;
  }
}
@media (max-width: 480px) {
  header {
    display: none;
  }
  .mobile-header {
    display: block;
  }

  .mobile-wrapper {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: block;
    width: 30px;
  }

  .menu-icon a i {
    color: black;
    padding: 0;
  }

  .nav_links {
    transition: all ease-in-out 1s;
    height: 0;
    display: none;
  }

  .collapsed {
    transition: all ease-in-out 1s;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .collapsed li {
    padding: 10px 0;
  }
}
.footer .title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 5vh;
}

.footer .subheader {
  font-size: larger;
  padding-bottom: 2rem;
}

.footer .content {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
}

.footer .email {
  padding-top: 2vh;
}

.social-media-icons {
  padding: 2vh;
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353535;
}

.fa {
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 1.75rem;
  color: white;
}

.fa:hover {
  color: black;
  transform: scale(1.2);
  transition: color 0.3s ease-in;
}

.email {
  color: rgb(255, 0, 128);
}
.title-footer {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.footer {
  background-color: rgb(255, 255, 255);
  line-height: 2.5em;
  font-size: 100%;
  color: rgb(0, 0, 0);
  display: block;
  padding-left: 10%;
  padding-right: 20%;
  padding-top: 3rem;
  padding-bottom: 10vh;
  line-height: 2.5em;
  font-size: 1rem;
  animation: float 3s ease-in-out infinite;
}
